/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color café crema claro */
    color: #333;
    text-align: center;
    margin: 20px;
}

/* Estilo para el título */
h1 {
    color: #004d99; /* Azul oscuro */
    font-size: 2.5rem;
}

/* Estilo del formulario */
form {
    margin-bottom: 20px;
}

/* Estilo del campo de entrada de categoría */
input[type="text"] {
    padding: 10px;
    width: 50%;
    border: 2px solid #004d99; /* Borde azul oscuro */
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 10px;
}

/* Estilo del botón de filtrar */
button {
    padding: 10px 20px;
    background-color: #008000; /* Verde fuerte */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #006400; /* Verde más oscuro al pasar el cursor */
}

/* Mensaje de texto */
#message {
    color: #006600; /* Verde oscuro */
    font-weight: bold;
    margin-top: 20px;
}

/* Estilo de la lista de productos */
#productList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para cada producto */
.product {
    background-color: #e0f7fa; /* Azul claro */
    border: 2px solid #004d99; /* Azul oscuro */
    padding: 10px;
    margin: 5px;
    width: 250px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.product strong {
    color: #008000; /* Verde fuerte */
}
